<html>
  <body>
    <p>
      Dear {{memberFirstName}}
    </p>
    <p>
      <strong>You absolutely smashed it this past month by showing up. Great Work!</strong>
    </p>
    
    <p>
      This is a reminder that your monthly membership subscription is due in less than <b>seven (7) days</b>. This subscription payment includes the services (add-ons) provided by Fitness+ Gym.
      <p>
        Please note that the <b>Total Monthly Amount</b> combines the fees and add-ons of all monthly fees you have subscribed for.
      </p>
      Please see your membership details, total amount and links to invoices. 
    </p>
    
    <p>
      <b>MembershipType:</b> {{membershipType}}
    </p>
    
    <p>
      <b>Total Monthly Amount:</b> {{totalMonthlyAmount}}
    </p>

    <p>
      <b>First Month Combined Subscription Invoice Link:</b> <a href="{{invoiceLink}}" target="_blank">Click Here</a>
    </p>
    
  </body>
</html>